.navbar {
    font-size: 22px;
    font-family: 'Rambla';
    font-weight: bold;
}


.navbar-logo {
    margin-right: 58px;
}

.navbar-logo a {
    font-size: 77px;
    color: #6f6f6f;
}

.navbar-logo img {
    width: 6.813rem;
    height: 6.5625rem;
    align-items: center;
    justify-content: center;
    margin-right: -11px; 
    vertical-align: middle; 
}

.navbar-logo span{
    color: #FE5655;
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly; 
    gap: 20px; /* Espaçamento adicional entre os itens */
}

.input-group {
    width: 259px;
    height: 44px;
    margin-left: 42px;
}

.box-search-input {
    height: 44px;
    border-radius: 2px;
    background-color: #FE5655;
    padding: 11px;
    border: none;
}

.box-search-input::placeholder {
    color: #FFFFFF; 
    opacity: 70%;
}

.box-search-input:focus {
    background-color: #FE5655;
    outline: none; 
    box-shadow: none; 
}

#search-icon {
    background-color: #FE5655;
    margin: 0;
    border-radius: 2px;
    margin: 0 4px 0 -2px;
    border: none;
    
}

.nav-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -16px;
    margin-left: 57px;
    margin-bottom: -6px;
    gap: 4px;
}

.nav-login i {
    font-size: 22px; /* Define o tamanho do ícone */
    color: #666665;
}

.nav-login a{ 
    font-size: 22px;
    text-decoration: none;
    color: #6f6f6f;
    font-weight: bold;
    
}

.container-slider {
    color: #6f6f6f;
    margin-left: 20px;
    font-family: 'Rambla';

}

.container-slider h4 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.container-slider h3 {
    font-size: 37px;
    margin-top: 15px;
}