.navbar {
    font-size: 22px;
    font-family: 'Rambla';
    font-weight: bold;
}


.navbar-logo {
    margin-right: 58px;
}

.navbar-logo a {
    font-size: 77px;
    color: #6f6f6f;
}

.navbar-logo img {
    width: 6.813rem;
    height: 6.5625rem;
    align-items: center;
    justify-content: center;
    margin-right: -20px; 
    vertical-align: middle; 
}

.navbar-logo span{
    color: #FE5655;
}

.navbar-nav {
    display: flex;
    justify-content: space-evenly; 
    gap: 20px; /* Espaçamento adicional entre os itens */
}


/* .box-search {
    margin-left: 100px;  TENTEI DIMINUIR O ESPAÇO ENTRE O PLATAFORMA E A CAIXA DE PESQUISA, MAS NÃO FUNCIONOU.
} */ 

.box-search-input {
    width: 301px;
    height: 44px;
    border-radius: 2px;
    background-color: #FE5655;
}

.box-search-input::placeholder {
    color: #FFFFFF; 
    opacity: 70%;
}