@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@400&display=swap');
* {
    font-family: 'Rambla';
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: normal;
  height: 100vh;
  background-color: #fffefe;
}
.login-container {
  padding: 2rem;
  border-radius: 8px;
  color: #6f6f6f;
}
.logo {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: 3rem;
  font-weight: bold;
  color: #6f6f6f;
}
.logo img {
  width: 6rem;
  height: 6rem;
}
.logo span {
  color: #fe5655;
}
.btn-google {
  background-color: #fa503f;
  color: #fffefe;
}
.btn-google:hover {
  transform: scale(1.05, 0.5s);
  color: #fa503f;
  text-shadow: none;
}
h3.mb-4 {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 2rem;
}
input.form-control {
  border-color: #fa503f;
}
button.btn-google {
  font-size: large;
}
button img {
  width: 1.5rem;
}
.authLinks {
  color: #fa503f;
  text-decoration: none;
}
